<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set site_name = 'Роберт Кийосаки - онлайн-интенсив 29 июня 2020' %}
    <title>{{ site_name }} {% if page_name %} - {% endif %} {{ page_name }}</title>
    <meta name="description" content="">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Лично Роберт Кийосаки с олайн-интенсивом «Как разбогатеть после пандемии»">
    <meta property="og:title" content="Интенсив от автора бестселлера «Богатый папа, бедный папа»" />
    <meta property="og:description" content="Легендарный Роберт Кийосаки приглашает вас на свой онлайн-интенсив «Как разбогатеть после пандемии и карантина»" />
    <meta property="og:image" content="https://richdad.online/img/soc.jpg">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:url" content="https://richdad.online/">

    {% set version = '?v=' ~ random() %}
    <link rel="stylesheet" href="css/assets.css{% if version %}{{ version }}{% endif %}">
    <link rel="stylesheet" href="css/style.css{% if version %}{{ version }}{% endif %}">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3081813968524202');
        fbq('init', '284323775935970');
        fbq('track', 'PageView');
        fbq('track', 'Lead');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=3081813968524202&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
    <body>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(64526749, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/64526749" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

{#        {% include '../common/header/header.twig' %}#}

        {% block content %}{% endblock %}

        {% include '../common/footer/footer.twig' %}
        {% include '../common/modal/modal.twig' %}

{#        {% include '../debug/debug.twig' %}#}


        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

{#        <script src="js/vendor/bootstrap.min.js"></script>#}
        <script src="js/assets.js{% if version %}{{ version }}{% endif %}"></script>
        <script src="js/main.js{% if version %}{{ version }}{% endif %}"></script>

    </body>
</html>

